* {
    font-family: roboto;
    box-sizing: border-box;
}

header {
    background-color: #fafafa;
    text-align: center;
    padding-top: 2%;
}

.hi {
    color: gray;
    margin: 0 10%;
    padding: 10% 0;
}

.main-nav {
    list-style: none;
    padding: 0;
}

.main-nav li {
    padding: .75em;
    background-color: white;
    margin: .5em 1em;
}

.profile-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    width: 60%;
}

a:visited {
    text-decoration: none;
    color:  black;
    font-weight: bold;
}

a:link {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.main-content {
    text-align: center;
}

.main-content h2 {
    font-size: 1em;
    padding: 1.5em 0;
}

.images {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    padding-bottom: 1em;
}

.portfolio p{
    margin: 1em auto;
    width: 85%;
    text-align: center;
    padding-bottom: 1em;
}

footer {
    background-color: #fafafa;
    text-align: center;
    padding-top: 2em;
    margin-top: 2em;
}

.contact p {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.par {
    padding-bottom: 1em;
}

.contact h2 {
    font-size: 1em;
    margin: 2em 0;
}

.bottom {
    border-top: solid black 1px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5em;
    padding-top: 1em;
    padding-bottom: 1em;
    font-size: .75em;
}

.name {
    float: left;
}

.back-to-top {
    float: right;
}

@media (min-width: 768px) {
    .main-nav li {
        display: inline-block;
        background-color: #fafafa;
    }

    .profile-image {
        float: right;
        width: 35%;
        margin-right: 3em;
        padding: 0;
        margin-top: 1em;
        margin-bottom: 1em;
    }

    .hi {
        float: left;
        width: 50%;
        text-align: left;
        margin-top: 1em;
        margin-bottom: 1em;
        padding-top: 0;
        margin-left: 2em;
        margin-right: 0;
        line-height: 1.3em;
        font-size: 1.2em;
    }

    .marketing {
        float: left;
        width: 45%;
        margin-left: 2em;
    }

    .search {
        float: right;
        width: 45%;
        margin-right: 2em;
    }

    .travel {
        float: left;
        width: 45%;
        margin-left: 2em;
    }

    .map {
        float: right;
        width: 45%;
        margin-right: 2em;
    }

    .gallery {
        float: left;
        width: 45%;
        margin-left: 2em;
    }

    .calculator {
        float: right;
        width: 45%;
        margin-right: 2em;
    }

    .portfolio p {
        width: 80%;
        margin-bottom: 2.5em;
    }

    .par {
        width: 65%;
    }

    .clearfix::after {
        content: "";
        clear: both;
        display: table;
      }
}